#set($layout = '/layout/empty.vm')
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>礼品详情</title>
    <link href="${rc.contextPath}/static/css/live.css?$!application.getAttribute('/static/css/live.css')" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="$!{rc.contextPath}/static/css/ios_anchor/giftdetail.css?$!application.getAttribute('/static/css/live.css')" type="text/css" rel="stylesheet">
</head>
<body>
    <ul class="giftDetail">
    </ul>
    #*用户资料卡*#
    <div class="userMesCard-gift">
        <div class="mask-layer"></div>
        <div class="card">
            <div class="tx-box">
                <img onerror="this.src='$!{rc.contextPath}/static/images/user_cover.png'" class="tx" src=""/>
                <img class="close" src="$!{rc.contextPath}/static/images/nobleclose.png"/>
                <div class="bg-box">

                </div>
            </div>
            <div class="mes">
                <p class="nickname">

                </p>
                <p class="noble-box">

                </p>
                <p class="personal-mes">年龄：<em></em>岁&nbsp;&nbsp;星座：<i></i></p>
            </div>
            <div class="contri">
                <div class="gz">
                    <p></p>
                    <span>关注数</span>
                </div>
                <div class="gxz">
                    <p></p>
                    <span>全站贡献值</span>
                </div>
                <div class="ph">
                    <p></p>
                    <span>全站排行</span>
                </div>
            </div>
            #*<div class="bort-box" s>
                *##*<span class="setfg">设为房管</span>*##*
                <span class="grzy">个人主页</span>
            </div>*#
        </div>
    </div>
    <p class="" id="autopbn" ></p>
    <input type="hidden" value="$!{rc.contextPath}" id="web">
    <input type="hidden" value="$!{listPage}" id="listPage"/>
    <script type="text/javascript" src="${rc.contextPath}/static/js/zepto.min.js?$!application.getAttribute('/static/js/zepto.min.js')"></script>
    <script type="text/javascript" src="${rc.contextPath}/static/js/packedFun.js?$!application.getAttribute('/static/js/packedFun.js')"></script>
    <script type="text/javascript" src="${rc.contextPath}/static/js/launch/anchor/giftDetail.js?$!application.getAttribute('/static/js/launch/anchor/giftDetail.js')"></script>
</body>
</html>