#set($layout = '/layout/empty.vm')
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta name="format-detection" content="telephone=no">
<meta name="format-detection" content="address=no;email=no">
<meta http-equiv="pragma" content="no-cache">
<meta http-equiv="cache-control" content="no-cache">
<meta http-equiv="expires" content="0"> 
<title>$!{shareModel.videoName}</title>
<link href="${rc.contextPath}/static/css/live.css?ver=003" type="text/css" rel="stylesheet">
<link href="${rc.contextPath}/static/css/video.css" rel="stylesheet">
<script src="${rc.contextPath}/static/js/jquery-1.8.3.min.js"></script>
<!-- <script src="${rc.contextPath}/static/js/video.js"></script>
<script src="${rc.contextPath}/static/js/videojs-live.js"></script> -->
<link rel="stylesheet"
    href="${rc.contextPath}/static/css/wechat-shade.css?ver=12388">
<script type="text/javascript">
    function downloadApp() {
        var ua = navigator.userAgent.toLowerCase();
        if (ua.match(/MicroMessenger/i) == "micromessenger") {
            $("#main_content").css("display", "none");
            $("#wechat_shade").css("display", "block");
        } else {
            location.href = "http://ks3-cn-beijing.ksyun.com/apkdown/apk_download/dl/xingyu.apk";
        }
    }
</script>    
</head>
<body>

<div id="wechat_shade" style="background-color: #d7eefe; display: none">
    <div class="wx-content">
        <div class="wx-bg">
            <div class="wx-font">
                <p>
                    我很努力，但是无奈微信不让下载<br> 别担心，点击<b>右上角</b><br> 选择&nbsp;“<b>在浏览器打开</b>”&nbsp;就能下载啦
                </p>
            </div>
        </div>
        <div class="wx-pic">
            <img src="/static/images/wx-02.png" alt="">
        </div>
    </div>
</div>

<div class="land-page">    
    <!-- <video id="my_video_1" class="video-js vjs-default-skin vedio-h"
                controls="controls" style="width: 100%" height="250" data-setup='{}'>
                <source src="$!{shareModel.playAddress}"
                    type="application/x-mpegURL">
    </video> -->
    
	$response.setHeader("Cache-Control","no-store")
	$response.setHeader("Pragrma","no-cache") 
	$response.setDateHeader("Expires",0) 
	<input type="hidden" id="source" value="$!{shareModel.playAddress}">
	<input type="hidden" id="videoStatus" value="$!{shareModel.videoStatus}">
	<div id="a1">
	
	</div>
	<script type="text/javascript" src="${rc.contextPath}/static/ckplayer/ckplayer.js?$!application.getAttribute('/static/ckplayer/ckplayer.js')" charset="utf-8"></script>
	<script type="text/javascript">
		var source = $("#source").val();
		var flashvars={
			f:'${rc.contextPath}/static/ckplayer/m3u8.swf',
			a:source,
			s:4,
			c:0
		};
		var videoStatus = $("#videoStatus").val();
		if (videoStatus == 1) {
			flashvars.lv = 1;
		}
		var params={bgcolor:'#FFF',allowFullScreen:true,wmode:'transparent'};
		var video=[source];
		CKobject.embed('${rc.contextPath}/static/ckplayer/ckplayer.swf','a1','ckplayer_a1','100%','100%',false,flashvars,video,params);
		$("#a1").append("<div class='anchor-theme'><span><img src='${shareModel.headImg}' alt='' />${shareModel.userName}</span></div><a href='javascript:;' onclick='downloadApp();' class='billboard'><img src='${rc.contextPath}/static/images/gsp.png' alt='' /></a>")
	</script>
	<div class="anchor-theme"><span><img src="${shareModel.headImg}" alt="" />${shareModel.userName}</span></div>
	<a href="javascript:;" onclick="downloadApp();" class="billboard"><img src="${rc.contextPath}/static/images/gsp.png" alt="" /></a>
</div>
<script type="text/javascript" src="${rc.contextPath}/static/js/zepto.min.js"></script> 
<script type="text/javascript" src="${rc.contextPath}/static/js/touch.js"></script>
</body>
</html>
